* {
    box-sizing: border-box;
}

.block {
    display: flex;
    border: 1px solid black;
    flex-wrap: nowrap;
}

.block-container {
    display: flex;
    flex-direction: row;
}

.right-block {
    background-color: lightcoral;
    order: 3;
}

.left-block {
    background-color: lightyellow;
}

.middle-block {
    background-color: lightblue;
    border: 1px dashed black;
}

.first {
    order: 1;
}

.second {
    order: 2;
}

.hidden {
    display: none;
}

.reversed {
    flex-direction: row-reverse;
}

@media (max-width: 480px) {
    .row {
        flex-direction: column;
    }

    .block-container {
        flex-direction: column;
    }

    .reversed {
        flex-direction: column-reverse;
    }

    .block {
        width: 100%;
    }
}